/*import*/
@import url(footer.scss);
/*variables*/
$gray: gray;

header{
    background-color: $gray;
}
/*Anidamiento*/
header{
    padding: 1%;
    nav{
        text-decoration: none;
        text-align: center;
        div{
            margin: 1%;
            li{
               font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
               &:hover{
                   background-color:aquamarine;
               }
            }
        }
    }
}


